/* Base styles */
body {
  font-family: "Roboto", sans-serif;
  background-color: #fff;

  color: #434455;
}
/* Reset styles */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
p {
  color: #434455;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: currentColor;
}

button {
  font-family: inherit;
  color: currentColor;
  background-color: transparent;
  cursor: pointer;
}
/* common styles */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}
/* Header */
.header .container {
  display: flex;
  align-items: center;
}

/* Header 2 */
.ourteam-title,
.portfolio-title {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 72px;
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11; /* 111.111% */
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
h3 {
  color: #2e2f42;
  margin-bottom: 8px;

  font-size: 20px;

  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.02em;
}

/* --Головне меню навігації--> */
.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}
.logo {
  color: #4d5ae5;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
}
.logo-dark {
  color: #2e2f42;
}
.header-nav {
  display: flex;
  margin-right: auto;
  align-items: center;
}
.header-list {
  display: flex;
  gap: 40px;
}

.header-list-item {
  color: inherit;
  display: inline-block;
}
.header-link {
  display: inline-block;
  padding-top: 24px;
  padding-bottom: 24px;

  color: #2e2f42;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  position: relative; 
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
}

.header-link:hover,
.header-link:focus {
  color: #404bbf;
}
.header-link.active{
  color:#404bbf;
}
.header-link.active::after{

  content: "";
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
background-color: #404BBF;
position: absolute; 
left: 0; 
bottom: -1px; 
}

/* .header-link-studio:hover,
.header-link-studio:focus,
.header-link-studio:active {
  color: #404bbf;
} */

/* --Пошта і телефон у шапці--> */
.address {
  font-style: normal;
}
.address-list {
  display: flex;
  gap: 40px;
}
.address-item-link {
  color: #434455;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
}
.address-item-link:hover,
.address-item-link:focus {
  color: #404bbf;
}
/* section hero */

.hero-container {
  display: flex;

  padding-right: 331px;

  padding-left: 331px;
  flex-direction: column;
  align-items: center;
   
}

.hero {
  background-color: #2e2f42;
  padding: 188px 0;
   background-image: linear-gradient(
    rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)), url(../images/hero/people-office.jpg);
    
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.hero-title {
  color: #fff;
  text-align: center;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  margin-bottom: 48px;
  max-width: 496px;
}

.button {
  color: #fff;
  background-color: #4d5ae5;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;

  padding: 16px 32px;
  border-radius: 4px;

  min-width: 169px;
  height: 56px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
}

button:hover,
button:focus {
  background-color: #404bbf;
}

/* section advantages */


.advantages-list {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.advantages-item {
  width: calc((100% - 3 * 24px) / 4);
}

.advantages-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 112px;
  border-radius: 4px;
  border: 1px solid  #8E8F99;
  background-color: #F4F4FD;
  margin-bottom: 8px;
 
  
}


.advantages-caption {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.02em;
}
.advantages-desc {
}

/* section our team */

.ourteam {
  background-color: #f4f4fd;
}

.ourteam-list {
  display: flex;
  gap: 24px;
}
.ourteam-item {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.ourteam-content {
  display: flex;
  flex-direction: column;
  padding: 32px 0;
  gap: 8px;
  align-items: center;
  justify-content: center;
}

.ourteam-name {
  text-align: center;
}
.ourteam-desc {
  text-align: center;
}

/* section portfolio */
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  row-gap: 48px;
}

.portfolio-item {
  background-color: #fff;
  width: 360px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover,
.portfolio-item:focus {
box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);

} 


.portfolio-content {
  display: flex;
  border: 1px solid #e7e9fc;
  border-top: none;
  padding: 32px 16px;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  border-radius: 0px 0px 4px 4px;
}
.portfolio-wrapper{
  position: relative;
  overflow: hidden;
}
.overlay{

width: 100%;
height: 100%;

padding: 40px 32px;

  position: absolute;
  top: 0;
  left: 0;

  color:  #F4F4FD;


  font-size: 16px;
  font-style: normal;

  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;

  background-color: #4D5AE5;

transform: translateY(100%);
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);



}

.portfolio-item:hover .overlay{
  transform: translateY(0);
}

/* 
.portfolio-name{
margin-top: 32px;

}
.portfolio-desc{
  margin-bottom: 32px;
} */
/* section footer */

.footer-container {
  display: flex;
  flex-direction: row;
  /* align-items: start; */
  align-items: baseline
 
}
.logo-text{
  margin-right: 120px;
}
.footer {
  background-color: #2e2f42;
  padding-top: 100px;
  /* padding-right: 331px; */
  padding-bottom: 100px;
}

.logo-footer {
  display: inline-block;
  margin-bottom: 16px;
}
.logo-light {
  color: #f4f4fd;
}

.footer-text {
  color: #f4f4fd;
  width: 264px;
}

.socialmedia-title{
  color:#FFF;
  font-weight: 500;
  margin-bottom: 16px;
}


.socials{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin-top: 8px;
}
.socials-item {
  width: 40px;
  height: 40px;
}
.socials-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  background-color: #4D5AE5;
  border-radius: 50%;

  color: #F4F4FD;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
}

.socials-link:hover,
.socials-link:focus{
  background-color: #404BBF;
}
.socials-icon {
  fill: currentColor;
}

.footer .socials{
  gap: 16px;
}
.footer .socials-link:hover,
.footer .socials-link:focus{
  background-color: #31D0AA;
}

.backdrop{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(46, 47, 66, 0.40);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier (0.4, 0, 0.2, 1);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;

}
.backdrop.is-open{
  opacity: 1;
  visibility: visible;
  pointer-events: initial;

}

.modal {
  position: relative;
  width: 408px;
min-height: 584px;

border-radius: 4px;
background: #FCFCFC;
padding: 24px;
padding-top: 72px;

}

.modal-btn {
position: absolute;
top: 24px;
right: 24px;
display: flex;
justify-content: center;
align-items: center;

fill:  #2E2F42;
stroke-width: 1px;
stroke: rgba(0, 0, 0, 0.10);
border-radius: 50%;
}

.modal-btn-icon {
  background-color: #E7E9FC;

}
.modal-caption {
  width: 360px;
  color:  #2E2F42;
text-align: center;

font-size: 16px;
font-weight: 500;
line-height: 1.5; /* 150% */
letter-spacing: 0.02em;

margin-bottom: 16px;
}

.form-message{
  resize:none;
  width: 100%;
  height: 120px;
  flex-shrink: 0;
  border-radius: 4px;
border: 1px solid  rgba(46, 47, 66, 0.40);

}

/* custom checkbox */
.form-agreement {
  display: block;
  margin-bottom: 24px;
font-size: 12px;
font-weight: 400;
line-height: 1.16; /* 116.667% */
letter-spacing: 0.04em;
color: var(--LIGHT-SLATE, #8E8F99);
user-select: none;
}
.checkbox {
}
.form-agreement-checkbox {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 16px;
height: 16px;
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
cursor: pointer;

/* stroke-width: 1px;
stroke: rgba(46, 47, 66, 0.40); */

}
.checkbox:checked+.form-agreement-checkbox {
  background-color: #404BBF;
  border-bottom: #404BBF;
}


.form-agreement-icon {
  opacity: 0;
}

.checkbox:checked+.form-agreement-checkbox > .form-agreement-icon {
  opacity: 1;
}

.form-agreement-link {
  color:#4D5AE5;
  text-decoration-line: underline;
}